<main>
  <form [formGroup]="form">
    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="name"
        type="text"
        placeholder="Enter task name"
      />
      <mat-error> This field is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="assigned_by"
        type="text"
        placeholder="Assigned by"
      />
      <mat-error> This field is required </mat-error>
    </mat-form-field>

    <mat-form-field class="form-field">
      <input
        matInput
        formControlName="assigned_to"
        type="text"
        placeholder="Assigned to"
      />
      <mat-error> This field is required </mat-error>
    </mat-form-field>

    <button
      [disabled]="form.invalid"
      mat-stroked-button
      color="primary"
      (click)="onAddTask()"
    >
      Submit
    </button>
  </form>

  <h1>Tasks:</h1>
  <section class="list">
    <mat-card class="card" *ngFor="let task of tasks$ | async">
      <mat-card-header>
        <mat-card-title> Task Name: {{ task.name }} </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <label
          >Assigned By <b>{{ task.assigned_by }}</b></label
        >
        <br />
        <br />
        <label
          >Assigned To <b>{{ task.assigned_to }}</b></label
        >
      </mat-card-content>
    </mat-card>
  </section>
</main>
