.content {
  padding: 1rem;
  box-sizing: border-box;
}

.card {
  margin: 1rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.form-field {
  display: block;
}

.mat-card-footer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 0.5rem;
}
